<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8" lang="en">
    <link rel="stylesheet" type="text/css" href="assets/styles/height-width.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/backgrounds-color.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/colors.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/margins.css">
    <title>Brito |Corredor de rua</title>
</head>
<body>
    <!---Barra principal-->
    <header>
        <nav>
        <h1>BRITO RUNNING</h1>
        <ul>
            <li><a href="index.html">Início</a> </li>
            <li><a href="#">Galeria</a> </li>
            <li><a href="#">Calculadora</a> </li>
            <li><a href="">Sobre mim</a> </li>
            <li><a href="/login">Login</a> </li>

        </ul>
    </nav>
    
    </header>
    <div class="container">
        
        <div class="login">
            <form method="post" action="/blogwrite">
                <h2>ESCREVER</h2>
                <input type="text" name="titulo" class="titulo">
                <textarea type="text" name="texto" class="texto"></textarea>
                <input type="submit" value="Enviar">
    
            </form>

        </div>
        <style>
            .login{
                align-items: center;
                text-align: center;
            }
            .titulo{
                height: 30px;
                width: 300px;
            }
            body{
                
            }
            .texto{
                width: 70%;
                height: 200px;
            }
        </style>
    </div>
    
    <footer>
        
      
        <h4 class="data_class" id="data_id">BRITO.RUNNING | </h4>
        
    </footer>
</body>
    
</html>