<!DOCTYPE html>
<html>
<head>
    <script src="app.js"></script>
    <meta charset="UTF-8" lang="en">
    <link rel="stylesheet" type="text/css" href="assets/styles/height-width.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/backgrounds-color.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/colors.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/margins.css">
    <title>Brito |Corredor de rua</title>
</head>
<body>
    <!---Barra principal-->
    <header>
        <nav>
        <h1>BRITO RUNNING</h1>
        <ul>
            <li><a href="#">Início</a> </li>
            <li><a href="#">Galeria</a> </li>
            <li><a href="/poste">Postagens</a> </li>
            <li><a href="#">Sobre mim</a> </li>
            <li><a href="/login">Acesso</a> </li>

        </ul>
    </nav>
    
    </header>
    <div class="container">
        <div class="container-pic"></div>
       <div class="picture" onclick="carsky()" style="cursor: pointer;">
        <div id="one-picture">
        <img src="assets/principal.png" class="one-picture">
    </div>

    <div id="second-picture" style="display: none;">
        <img src="assets/5329__2962_.png" class="second-picture" >
        <style>
            #second-picture{
    display: none;
    width: 47%;
}
.second-picture{
    width: 110%;
}
        </style>
        
    </div>
       </div>
    
       
       <div class="container-text">
        
       <div class="text">
        <div class="text-title">
            <h1>Bora correr!</h1>
        </div>
        <div class="text-desc">
        <p>Atleta em busca de desempenho! Acompanhe o Brito por esta jornada!
            Na busca incessante por superação e desempenho, o atleta Brito embarca em uma jornada repleta de desafios e conquistas. Seu comprometimento com o aprimoramento físico, mental e técnico é a chama que o impulsiona a alcançar novos patamares em sua carreira esportiva.
        </p>
    </div>
    <div class="button-for-networks-links">
        <a href="networks.html">
        <button onclick="network()" type="submit">Veja tudo por aqui!</button>
    </a>
    </div>
</div>

</div>
    </div>
    
    <footer>
        
      
        <h4 class="data_class" id="data_id">BRITO.RUNNING | </h4>
        
    </footer>
</body>
    
</html>